#container{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

button{
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: rgb(39, 139, 215);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color:  rgb(50, 160, 230); 
}

button:active{
    background-color: rgb(120, 184, 224);
}

input{
    font: size 2rem;
    width: 150px;
    text-align: center;
    font-weight: bold;
}

#diceResult{
    margin: 25px;
}

#diceImages img{
    width: 150px;
    margin: 10px;
}